<!-- DRAG AND DROP TEST  -->
<div class="mt-4">
  <h4>{{'pages.bl-drag-and-drop-files.manualValidation'|translate}}</h4>
  <form class="align-items-center">
    <bl-drag-and-drop-files #dnd1
                            [formControlList]="formGroup1"
                            [formControl]="formGroup1.controls.attachmentsList"
                            [acceptedExtensions]="['png','txt']"
                            [maxFileSize]="1024 * 1500"
                            [required]="true"
                            [testLabelValue]="'dnd-files-1'"
                          
                            
    >
      <!-- List of chosen files and delete-->
      <bl-attachment-and-delete  *ngFor="let attachment of dnd1.files; let index=index"
                                 [progress]="attachment.progress"
                                 [value]="attachment.file"
                                 [(filesList)]="dnd1.files"
                                 [accept]="['png','txt']"
                                 [removable]="true"
                                 [testLabelValue]="'dnd1_file_'+index"
                                 (select)="openFile($event)"
                                 (removeUploadedFile)="removeUploadedFile(attachment,1)"
                                 
                                 
      >
      </bl-attachment-and-delete>
    </bl-drag-and-drop-files>
    <div class="validate-dnd-example">
      <bl-button (click)="onSubmitFilesList(formGroup1)" type="submit"
                 [title]="'pages.bl-drag-and-drop-files.submit'"></bl-button>
    </div>
  </form>
</div>
<!-- DRAG AND DROP TEST  -->


<div class="mt-4">
  <h4>{{'pages.bl-drag-and-drop-files.autoUpdateExemple'|translate}}</h4>
  <bl-drag-and-drop-files #dnd2
                          [formControlList]="formGroup2"
                          [formControl]="formGroup2.controls.attachmentsList"
                          [acceptedExtensions]="['txt','pdf']"
                          [maxFileSize]="1024 * 1500"
                          [required]="true"
                          [testLabelValue]="'dnd-files-2'"
  >
    <!-- List of chosen files and delete-->
    <bl-attachment-and-delete  *ngFor="let attachment of dnd2.files; let index=index"
                               [autoUpload]="true"
                               [progress]="attachment.progress"
                               [value]="attachment.file"
                               [(filesList)]="dnd2.files"
                               [removable]="true"
                               [accept]="['txt','pdf']"
                               [testLabelValue]="'dnd2_file_'+index"
                               (select)="openFile($event)"
                               (uploadFile)="uploadFileSimulator(attachment)"
                               (removeUploadedFile)="removeUploadedFile(attachment,2)"
    >
    </bl-attachment-and-delete>
  </bl-drag-and-drop-files>
</div>
<div class="mt-4">
  <h4>{{'pages.bl-drag-and-drop-files.horizontalDisplay'|translate}}</h4>
  <bl-drag-and-drop-files #dnd3 [horizontalDisplay]="true"
                          [formControlList]="formGroup3"
                          [formControl]="formGroup3.controls.attachmentsList"
                          [acceptedExtensions]="['pdf','png']"
                          [maxFileSize]="1024 * 1000"
                          [required]="true"
                          [testLabelValue]="'dnd-files-3'"
  >
    <!-- List of chosen files and delete-->
    <bl-attachment-and-delete  *ngFor="let attachment of dnd3.files; let index=index"
                               [autoUpload]="true"
                               [progress]="attachment.progress"
                               [value]="attachment.file"
                               [(filesList)]="dnd3.files"
                               [accept]="['pdf','png']"
                               [removable]="true"
                               [testLabelValue]="'dnd3_file_'+index"
                               (select)="openFile($event)"
                               (uploadFile)="uploadFileSimulator(attachment)"
                               (removeUploadedFile)="removeUploadedFile(attachment,3)" >
    </bl-attachment-and-delete>
  </bl-drag-and-drop-files>
</div>
<div class="mt-4">
  <h4>{{'pages.bl-drag-and-drop-files.customErrors'|translate}}</h4>
  <p [innerHTML]="'pages.bl-drag-and-drop-files.circularProgress'|translate"></p>
  <bl-drag-and-drop-files #dnd4
                          [formControlList]="formGroup4"
                          [formControl]="formGroup4.controls.attachmentsList"
                          [required]="true"
                          [testLabelValue]="'dnd-files-3'"
                          [customErrors]="true"
                          [hint]="'pages.bl-drag-and-drop-files.hint'"
  >
    <!-- List of chosen files and delete-->
    <bl-attachment-and-delete  *ngFor="let attachment of dnd4.files; let index=index"
                               [autoUpload]="true"
                               [progress]="attachment.progress"
                               [value]="attachment.file"
                               [(filesList)]="dnd4.files"
                               [maxFileSize]="1024 * 500"
                               [removable]="true"
                               [circularProgress]="true"
                               [testLabelValue]="'dnd4_file_'+index"
                               (select)="openFile($event)"
                               (uploadFile)="uploadFileSimulator(attachment)"
                               (removeUploadedFile)="removeUploadedFile(attachment,3)">

    </bl-attachment-and-delete>
    <!-- CUSTOMIZED ERRORS -->
    <div *ngIf=" formGroup4.controls.attachmentsList.errors">
      <bl-error class="custom-errors"
                [visible]="formGroup4.controls.attachmentsList.hasError('acceptExtension')"
                [testLabel]="'error_extention'"
                [key]="'sample.bl-attachment-and-delete.extention-error'"
      ></bl-error>
      <bl-error class="custom-errors"
                [visible]="formGroup4.controls.attachmentsList.hasError('maxSize')"
                [testLabel]="'error_maxSize'"
                [key]="'sample.bl-attachment-and-delete.maxSize-error'"
      ></bl-error>
    </div>
  </bl-drag-and-drop-files>
</div>
<!-- readonly dragNdrop -->
<div class="mt-4">
  <h4>{{'pages.bl-drag-and-drop-files.readonly'|translate}}</h4>
  <form class="align-items-center">
    <bl-drag-and-drop-files #dnd5
                            [formControlList]="formGroup5"
                            [formControl]="formGroup5.controls.attachmentsList"
                            [acceptedExtensions]="['png','txt']"
                            [maxFileSize]="1024 * 1500"
                            [required]="true"
                            [testLabelValue]="'dnd-files-5'"
                            [readOnly]="true"
                            
    >
      <!-- List of chosen files and delete-->
      <bl-attachment-and-delete  *ngFor="let attachment of dnd5.files; let index=index"
                                 [progress]="attachment.progress"
                                 [value]="attachment.file"
                                 [(filesList)]="dnd5.files"
                                 [accept]="['png','txt']"
                                 [removable]="true"
                                 [testLabelValue]="'dnd5_file_'+index"
                                 (select)="openFile($event)"
                                 (removeUploadedFile)="removeUploadedFile(attachment,1)"
                                 
                                 
      >
      </bl-attachment-and-delete>
    </bl-drag-and-drop-files>
    <div class="validate-dnd-example">
      <bl-button (click)="onSubmitFilesList(formGroup5)" type="submit"
                 [title]="'pages.bl-drag-and-drop-files.submit'"></bl-button>
    </div>
  </form>
</div>
