<div class="container">
  <h3 class="m-3">
    {{'sample.text-field.title'|translate}}
  </h3>
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-lg-4">
        <bl-text-field [customErrorsMap]="customErrorMap" [formControl]="formGroup.controls.label1" [id]="'1'"
          [label]="'sample.libelle.label'" [maxLength]="15" [placeholder]="'sample.libelle.placeholder'"
          [testLabelValue]="'input1'" [type]="'text'">
        </bl-text-field>
      </div>
      <div class="col-lg-4">
        <bl-text-field [customErrorsMap]="customErrorMap" [displaySearch]="true" [formControl]="formGroup.controls.label2"
          [id]="'2'" [label]="'sample.libelle.search'" [maxLength]="400"
          [placeholder]="''" [testLabelValue]="'input2'" [type]="'search'">
        </bl-text-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <bl-text-field [formControl]="formGroup.controls.label4" [id]="'4'" [label]="'sample.libelle.uppercase'"
          [testLabelValue]="'input4'" [upperCase]="true">
        </bl-text-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <bl-text-field [formControl]="formGroup.controls.label5" [id]="'5'" [label]="'sample.libelle.password'"
          [testLabelValue]="'input5'" [type]="'password'">
        </bl-text-field>
      </div>
      <div class="col-lg-4">
        <bl-text-field [displayCurrency]="true" [formControl]="formGroup.controls.label6" [id]="'6'"
          [isNumber]="true" [label]="'sample.libelle.number'" [testLabelValue]="'input6'" [type]="'number'">
        </bl-text-field>
      </div>
    </div>
    <div class="row">
     <!-- <div class="col-lg-4">
        <p>{{formGroup.controls.label7.errors | json}}</p>
        <bl-text-field [customErrorsMap]="customErrorMap" [formControl]="formGroup.controls.label7" [id]="'7'"
          [label]="'sample.libelle.erreurs'" [maxLength]="10" [placeholder]="'sample.libelle.erreurs'" [required]="true"
          [testLabelValue]="'input7'" [type]="'text'">
        </bl-text-field>
      </div>-->
      <div class="col-lg-4">
        <bl-text-field (phoneError)="onError($event)" [customErrorsMap]="customErrorMap" [customPhonePrompt]="'_'"
          [customPhoneSeparator]="'.'" [formControl]="formGroup.controls.label9" [id]="'9'" [isNumber]="true"
          [isPhone]="true" [label]="'sample.libelle.erreurTel'" [maxLength]="10" [suffixIcon]="'phone'"
          [testLabelValue]="'input9'" type="tel">
        </bl-text-field>
        <p>{{'sample.text-field.isPhone-desc'|translate}}</p>
      </div>
    </div>
    <div class="row">
      <p> {{'sample.text-field.onBlur-title'|translate}}</p>
      <div class="col-lg-4">
        <bl-text-field (onBlurAction)="onBlur($event)" [calculateMaxLength]="true" [customErrorsMap]="customErrorMap"
          [formControl]="formGroup.controls.label8" [id]="'8'" [label]="'sample.libelle.counter'"
          [maxLength]="20" [placeholder]="'sample.libelle.counter'" [testLabelValue]="'input8'"
          [type]="'text'">
        </bl-text-field>
        <p>{{'sample.text-field.onBlur-desc'|translate}}</p>
      </div>
      <div class="col-lg-4">
        <bl-text-field [customErrorsMap]="customErrorMap" [formControl]="formGroup.controls.label10" [id]="'10'" [tooltip]="'example'"
          [label]="'sample.libelle.suffix'" [maxLength]="20" [placeholder]="'sample.libelle.suffix'" [suffixIcon]="'berger_levrault'"
          [testLabelValue]="'input10'" [type]="'text'" [suffixInformations]="simpleSuffixExample">
        </bl-text-field>
      </div>
    </div>
    <div class="row mt-1 ">
      <h5>{{'sample.text-field.suffixExample'|translate}} </h5>
      <div class="col-lg-4">
        <bl-text-field [customErrorsMap]="customErrorMap" [formControl]="formGroup.controls.label13" [id]="'10'" [suffixInformations]="customSuffixExample"
                                                 [label]="'sample.libelle.suffix'" [maxLength]="20" [placeholder]="'sample.libelle.suffix'" [suffixIcon]="icon_Arrow"
                                                 [testLabelValue]="'input10'" [type]="'text'">
      </bl-text-field>
      </div>
      <div class="col-lg-4">
        <bl-text-field [customErrorsMap]="customErrorMap" [formControl]="formGroup.controls.label14" [id]="'10'" [suffixInformations]="customSuffixExample2"
                       [label]="'sample.libelle.suffix'" [maxLength]="20" [placeholder]="'sample.libelle.suffix'" [suffixIcon]="icon_Folder"
                       [testLabelValue]="'input10'" [type]="'text'">
        </bl-text-field>
      </div>

    </div>
<!-- Read only examples -->
    <div>
      <h4>{{'sample.text-field.exampleReadOnly'|translate}} </h4>
      <div class="row">
        <div class="col-lg-4">
          <bl-text-field [formControl]="formGroup.controls.label9" [id]="'9'" [isNumber]="true"
                         [isPhone]="true" [label]="'sample.libelle.erreurTel'" [readOnly]="true" [suffixIcon]="'phone'"
                         [testLabelValue]="'input9'" type="tel">
          </bl-text-field>
        </div>
        <div class="col-lg-4">
          <bl-text-field [formControl]="formGroup.controls.label3" [id]="'3'" [label]="'sample.libelle.read-only'"
                         [readOnly]=true [testLabelValue]="'input3'" [suffixIcon]="'berger_levrault'">
          </bl-text-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <bl-text-field [formControl]="formGroup.controls.label3" [id]="'3'" [label]="'sample.libelle.read-only'"
                         [testLabelValue]="'input3'" [readOnly]="true">
          </bl-text-field>
        </div>
        <div class="col-lg-4">
          <bl-text-field [displayCurrency]="true" [formControl]="formGroup.controls.label6" [id]="'6'"
                         [readOnly]="true" [isNumber]="true" [label]="'sample.libelle.number'"
                         [testLabelValue]="'input6'" [type]="'number'">
          </bl-text-field>
        </div>
      </div>
    </div>


    <div class="row " style="border: rgba(62,56,161,0.34) 2px solid; width: 95%">
      <h4 class="m-4">{{'sample.text-field.mask'|translate}}</h4>
      <p class="subtitle color-square">{{'sample.text-field.exampleText'|translate}}<span class="bold"> {{'sample.text-field.exampleIbanFormat'|translate}} </span></p>
      <ul>
        <li><span class="bold">{{'sample.text-field.FR'|translate}}: </span>{{'sample.text-field.defaultDisplayMask'|translate}} </li>
        <li><span class="bold">{{'sample.text-field.0'|translate}} : </span> {{'sample.text-field.numberInput'|translate}} </li>
        <li><span class="bold">{{'sample.text-field.a'|translate}} : </span>{{'sample.text-field.stringInput'|translate}} </li>
        <li><span class="bold"> * : </span>{{'sample.text-field.*'|translate}} </li>

      </ul>
      <div class="col-lg-4">
        <h6 class="mb-4">{{'sample.text-field.phoneExample'|translate}}</h6>

        <bl-text-field   [customErrorsMap]="customErrorMap"
                        [formControl]="formGroup.controls.label11" [id]="'11'" [isNumber]="true"
                       [label]="'sample.libelle.erreurTel'"    [inputMaskOptions]="phoneMaskOptions"  [suffixIcon]="'phone'"
                       [testLabelValue]="'input11'" type="tel">
        </bl-text-field>
      </div>
      <div class="col-lg-4   ">
        <h6  class="mb-4">{{'sample.text-field.ibanExample'|translate}}</h6>

        <bl-text-field   [customErrorsMap]="customErrorMap"
                         [formControl]="formGroup.controls.label12" [id]="'12'"
                         [label]="'sample.text-field.iban'"    [inputMaskOptions]="ibanMaskOption"  [suffixIcon]="'minus_fill'"
                         [testLabelValue]="'input12'" type="tel">
        </bl-text-field>
      </div>
    </div>

  </form>
</div>
