.subtitle{
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    border: #707070;
    margin-left: 10px;
}
.step-actions{
  position : fixed;
  bottom : 3em;
  margin: 5px 5px 5px 0;
}
.action-right{
  position:fixed;
  right:3em;
}
.step-body{
  height: 65vh;
}
