<h2 class="anchor border-bottom mb-3">Exemple</h2>
<bl-slide-toggle [description]="'Description optionnelle'" [label]="'Label1'" [testLabel]="'ST1'"></bl-slide-toggle>
<p>Exemple d'un slide toggle vertical</p>
<bl-slide-toggle [description]="'Description optionnelle'" [isVertical]="true" [label]="'Label2'" [testLabel]="'ST2'"></bl-slide-toggle>
<h2 class="anchor border-bottom mb-3">Exemple Lecture seule</h2>
<bl-slide-toggle [description]="'Description optionnelle'" [label]="'Label3'" [readonly]="true" [testLabel]="'ST3'"></bl-slide-toggle>
<p>Exemple d'un slide toggle vertical</p>
<bl-slide-toggle [description]="'Description optionnelle'" [isVertical]="true" [label]="'Label4'" [readonly]="true" [testLabel]="'ST4'"></bl-slide-toggle>
