<p>
  Vous trouverez ci-dessous la liste des styles de titres « par défaut »
</p>
<div #sample class="mat-5">
  <h1 class=""> &lt;H1 BI_GA_GF/&gt;</h1>

  <h2 class=""> &lt;H2 BI_GA_GF …/&gt;</h2>

  <h3 class=""> &lt;H3 BI_GA_GF …/&gt;</h3>

  <h4 class=""> &lt;H4 BI_GA_GF …/&gt;</h4>

  <h5 class=""> &lt;H5 BI_GA_GF …/&gt;</h5>

  <h6 class=""> &lt;H6 BI_GA_GF …/&gt;</h6>

  <p>Il est préconisé de déclarer le titre de page avec un &lt;h1&gt; et de suivre ensuite une hiérarchie de titres logique.  </p>
  <p>Des styles de surcharge sont proposés nativement dans la stack pour modifier la taille du texte (zt = zone de travail) :  </p>
  <ul>
    <li>Style «bl-zt-h1» : 1.5 rem</li>
    <li>Style «bl-zt-h2» : 1.3 rem</li>
    <li>Style «bl-zt-h3» : 1.25 rem</li>
    <li>Style «bl-zt-h4» : 1.2 rem</li>
    <li>Style «bl-zt-h5» : 1.1 rem</li>
    <li>Style «bl-zt-h6» : 1 rem</li>
  </ul>

  <p>Il est préconisé d’utiliser les surcharges de styles suivants pour les applications desktop utilisant la stack :  </p>
  <h1 class="bl-zt-h1"> &lt;H1 class= «bl-zt-h1» …/&gt;</h1>

  <h2 class="bl-zt-h2"> &lt;H2 class=«bl-zt-h2» …/&gt;</h2>

  <h3 class="bl-zt-h3"> &lt;H3 class=«bl-zt-h3» …/&gt;</h3>

  <h4 class="bl-zt-h4"> &lt;H4 class=«bl-zt-h4» …/&gt;</h4>

  <h5 class="bl-zt-h5"> &lt;H5 class=«bl-zt-h5» …/&gt;</h5>

  <h6 class="bl-zt-h6"> &lt;H6 class=«bl-zt-h6» …/&gt;</h6>

  <br>

  <p>Voici tous les typographies disponibles dans la stack : </p>
  <table class="doc-table">
    <tbody>
    <tr>
      <th>Configuration</th>
      <th>Description</th>
    </tr>
    <tr>
      <td class="bl-zt-h1" >
        <h1 class="bl-zt-h1">Headline 1</h1>
      </td>
      <td>
        <h1 class="bl-zt-h1"> &lt;H1/Roboto/Medium/24px&gt;</h1>
      </td>
    </tr>
    <tr>
      <td >
        <h2 class="bl-zt-h2"> Headline 2</h2>
      </td>
      <td>
        <h2 class="bl-zt-h2"> &lt;H2/Roboto/Medium/20.8px&gt;</h2>
      </td>
    </tr>
    <tr>
      <td>
        <h3 class="bl-zt-h3"> Headline 3</h3>
      </td>
      <td>
        <h3 class="bl-zt-h3" > &lt;H3/Roboto/Regular/20px&gt;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="bl-zt-h4"> Headline 4</h4>
      </td>
      <td>
        <h4 class="bl-zt-h4"> &lt;H4/Roboto/Regular/19.2px&gt;</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h5 class="bl-zt-h5"> Headline 5</h5>
      </td>
      <td>
        <h5 class="bl-zt-h5"> &lt;H5/Roboto/Regular/17.6px&gt;</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h6 class="bl-zt-h6"> Headline 6</h6>
      </td>
      <td>
        <h6 class="bl-zt-h6" > &lt;H6/Roboto/Medium/16px&gt;</h6>
      </td>
    </tr>
    <tr>
      <td>
        <h1 class="bl-zt-s1">Subtitle 1</h1>
      </td>
      <td>
        <h1 class="bl-zt-s1"> &lt;Subtitle 1/Roboto/Regular/16px&gt;</h1>
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="bl-zt-s2">Subtitle 2</h2>
      </td>
      <td>
        <h2 class="bl-zt-s2"> &lt;Subtitle 2/Roboto/Medium/14px&gt;</h2>
      </td>
    </tr>
    <tr>
      <td>
        Body 1
      </td>
      <td>
        <p class="bl-zt-b1"> &lt;Body 1/Roboto/Regular/16px&gt;</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="bl-zt-b2">Body 2</p>
      </td>
      <td>
        <p class="bl-zt-b2"> &lt;Body 2/Roboto/Regular/14px&gt;</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="bl-zt-btn"> Button</div>
      <td>
        <div class="bl-zt-btn"> &lt;Button/Roboto/Medium/13px&gt;</div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="bl-zt-cap"> Caption</div>
      </td>
      <td>
        <div class="bl-zt-cap"> &lt;Caption/Roboto/Regular/12px&gt;</div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="bl-zt-ov"> Overline</div>
      </td>
      <td>
        <div class="bl-zt-ov"> &lt;Overline/Roboto/Regular/10px&gt;</div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
